{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "printWidth": 120,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "parser": "markdown",
        "proseWrap": "preserve",
        "embeddedLanguageFormatting": "auto"
      }
    },
    {
      "files": ["*.html", "*.htm"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "css"
      }
    },
    {
      "files": ["*.css"],
      "options": {
        "parser": "css"
      }
    },
    {
      "files": ["*.js", "*.jsx", "*.mjs", "*.cjs"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
